.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    padding: 5px 20px;
}

.nav .right{
    display: flex;
    gap: 20px;
}

.nav img{
    width: auto;
}

.nav button{
    background-color: #FFD51E;
    color: #333;
}

.nav button:hover{
    background-color: #ffd61e79;
}