*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root{
    --primary:#F1EAFF;
    --secondary: #E5D4FF;
    --tertiary: #DCBFFF;
    --quaternary: #a032ff;
}