*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary:#F1EAFF;
    --secondary: #E5D4FF;
    --tertiary: #DCBFFF;
    --quaternary: #a032ff;
    --online: #00b500;
    --offline: #FF0000;
}


.fullpage{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    background-color: var(--quaternary);
    display: flex;
    flex-direction: column;
}