.noChatout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.currentChat {
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    overflow: hidden;
    /* border: 1px solid red; */
}



.chatIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    /* padding: 10px; */
    background-color: rgb(245, 232, 255);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.chatIn .chatTop{
    background-color: white;
    height: 10%;
    padding: 0px 10px;
    gap: 10px;
}

.chatIn .chatMessages{
    /* background-color: blue; */
    gap: 10px;
    height: 80%;
    overflow: scroll;
}

.chatIn .chatTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.chatIn .chatNameStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.chatIn .chatNameStatus .chatName {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--quaternary);
}


.chatMessages {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}

.chatMessages::-webkit-scrollbar {
    width: 5px;
}

.chatMessages::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;

}

.chatMessages .messagerow {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 5px;
    /* background-color: aqua; */
}


.chatMessages .message {
    align-self: flex-start;
    /* Shifts the message to the left */
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding: 10px;
    background-color: var(--tertiary);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    /* min-width: 40%; */
}


.chatMessages .messageYou {
    align-self: flex-end;
    /* Shifts the message to the right */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    /* min-width: 40%; */

}

.chatMessages .messagerow .message .messageText {
    font-size: 1rem;
    font-weight: 400;
    color: var(--quaternary);
}


.chatMessages .messagerow .messageYou .messageText {
    font-size: 1rem;
    font-weight: 400;
    color: var(--quaternary);
}



.chatBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.chatBottom input {
    width: 100%;
    padding: 20px 20px;
    border: none;
    outline: none;
    font-size: 17px;
    color: var(--quaternary);
    border-radius: 10px;
}


