* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root {
    --primary: #F1EAFF;
    --secondary: #E5D4FF;
    --tertiary: #ffd61e79;
    --quaternary: #FFD51E;
}

.maindiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.maindiv::-webkit-scrollbar {
    width: 0.5rem;
}

.maindiv::-webkit-scrollbar-track {
    background: #fff;
}

.maindiv::-webkit-scrollbar-thumb {
    background: #FFD51E;
}

.maindiv::-webkit-scrollbar-thumb:hover {
    background: #ffd61e79;
}