.chatpage {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: aqua; */
    background-color: var(--tertiary);
}

.chatpage .left {
    width: 30%;
    height: 100%;
    background-color: var(--secondary);
}

.chatpage .right {
    width: 70%;
    height: 100%;
    background-color: var(--secondary);
    padding: 10px;
}