.allChats {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    padding: 10px 0px;
}

.allChats .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 50px;
    overflow: hidden;
    height: 15%;
}

.allChats .search svg {
    height: 20px;
    width: 20px;
    color: var(--tertiary);
}

.allChats .search svg:hover {
    cursor: pointer;
    color: var(--quaternary);
}

.allChats input {
    width: 90%;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--quaternary);
}


.allChats .chats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.allChats .chats::-webkit-scrollbar {
    width: 5px;
}

.allChats .chats::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;

}

.allChats .chats .chat {
    height: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
    gap: 10px;
}

.allChats .chats .chat .chatInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.allChats .chats .chat .time {
    font-size: 0.8rem;
    color: var(--secondary);
    font-weight: 700;
    width: 20%;
    text-align: right;
}

.allChats .chatInfo {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.allChats .chatInfo .name {
    font-size: 14px;
    font-weight: 700;
    color: var(--quaternary);
}

.allChats .lastMessageSeen {
    font-size: 12px;
    color: var(--tertiary);
    font-weight: 700;
}

.allChats .lastMessageUnSeen {
    font-size: 15px;
    color: gray;
    font-weight: 700;
}



.allChats .chats .chat:hover {
    background-color: var(--primary);

}


.allChats .buttondiv {
    position: absolute;
    bottom: 10px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 5px;

}

.allChats .buttondiv button {
    background-color: var(--quaternary);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
}

.allChats .buttondiv button:hover {
    background-color: var(--tertiary);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.537);
}

.newP2pModal{
    display: flex;
    flex-direction: column;
    gap: 10px;
}